@model Cliente 


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Contenido principal -->
<div class="text-center container">
    <h1 class="display-4">Hola @Model.Nombre @Model.Apellido, bienvenido a nuestra cafetería</h1>
    <p class="parrafo">Somos una cafetería creada para desarrollar el trabajo de la evidencia 3.</p>
    <img src="~/Imagenes/cafeteria.jpg" alt="Foto de la cafetería">
</div>

<div class="text-center container">
    <h1>¿Quiénes somos?</h1>
    <p>
        <strong>StarWaska</strong> es una cafetería que ofrece una variedad de bebidas y alimentos para satisfacer los gustos<br />
        de nuestros clientes. Nos esforzamos por brindar un ambiente acogedor y un servicio excepcional.
    </p>
</div>


